
/***** Main style *****/
body {
	background-color: #e8e8e9;
}

h3.title {
	font-family:'Oxygen', sans-serif;
	font-size: 20px;
	font-weight: bolder;
	letter-spacing: 1px;
	line-height: 25px;
	color: #353232;
	margin: 30px 0;
}

p {
	font-size: 14px;
	text-indent: 20px;
	margin-bottom: 20px;
}

p::first-letter {
	font-size: 24px;
	font-weight: 900;
}

.hr-vertical {
	background: url('../img/hr-vertical.png') repeat-y center center;
	width: 20px;
    height: 100px;
    float: left;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5%;
}

/****** Header ********/
.header{
	display: block;
	width: 100%;
	height: 125px;
	background: #e9e9eb;
}

.mainMenu {
	margin-top: -62px;
}

/* Region of flag of Rio Grande do Sul*/
.flag {
	height: 10px;
	display: block;
	width: 100%;
}

.flag span.red {
	background: #cc0a13;
}

.flag span.green {
	background: #03775b;
}

.flag span.yellow {
	background: #d6aa28;
}

.hero {
	display: block;
	height: 300px;
	width: 100%;
	background: url('../img/capa.jpg');
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: 0 -120px;
	margin-top: 21px;
}

/*--- Social media bar -----*/

.socialMedia {
	margin: 10px 40px 0 0;
	display: inline-block;
	background: transparent;
}

.socialMedia a {
	text-decoration: none;
}

.socialMedia a img {
	width: 32px;
	height: 32px;
	display: inline-block;
}

.socialMedia a img:hover{
	background: #D6AA28;
	border-radius: 100%;
}
/*--------- News ------------ */

.lastNews-bg {
	background: #d1d1d1;
	padding: 10px 10px;
	width: 100%;
	display: inline-block;
}

ul#latestNews {
	margin: 0;
	padding: 0;
}

ul#latestNews li {
	background: #fefefe;
	float: left;
	padding: 2px;
	list-style: none;
	width: 100%;
	margin: 5px 0;
}


ul#latestNews li a span {
	display: block;
	font-size: 14px;
    color: #000;
    line-height: 9px;
    padding: 12px 15px;
    line-height: 20px;
	margin-left: 40px;
	text-decoration: underline;
}

ul#latestNews li a span:hover {
	color: #ce1720;
}

ul#latestNew li a img {
    width: 80px;
    float: left;
    margin: 5px 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.news-picture {
    padding: 5px;
    margin: 0 10px;
    background: #FFF;
    width: 90px;
    float: left;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.centerButtonLastNews {
	margin-right: -10px;
	margin-bottom: -10px !important;
	display: table;
	float: right;
}

/** ----- latest session ------ */
.latest {
	border: 5px solid #cc0a13;
	border-left: 5px solid #03775b;
	border-right: 5px solid #d6aa28;
	display: table;
    width: 100%;
}

.latestHeader {
	background: #000;
	display: table;
	width: 100%;
	height: 45px;
}

.latestHeader h3.title {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	color: #fff;
}

/*--------- Video Section --------- */
.video {
	display: inline-block;
	margin-top: 10%;
}

.outros-videos {
    float: left;
    margin-top: 20px;
}

.outros-videos ul li {
    list-style: none;
    border-bottom: 1px solid #d1d1d1;
    padding-bottom: 10px;
    margin-top: 5px;
}

.outros-videos ul li a p {
    margin: 0;
    font-size: 12px;
    line-height: 16px;
    text-align: justify;
    text-indent: 0;
    margin-bottom: 10px;
    color: #353232;
}

.outros-videos ul li a p::first-letter {
    font-size: 14px;
    font-weight: normal;
}

.outros-videos ul {
	padding: 0;
}

.outros-videos ul li a span {
    font-weight: bolder;
    color: #0D2D45!important;
}

.outros-videos ul li a small {
    font-weight: bolder;
    color: #0D2D45!important;
}

/*----------- Btn ----------------*/
.btn-black {
  color: #fff;
  background-color: #000000;
  border-color: #131313;
  text-transform: uppercase;
}
.btn-black:focus,
.btn-black.focus {
  color: #fff;
  background-color: #353333;
  border-color: #272424;
  margin-right: 2px;
}
.btn-black:hover {
  color: #fff;
  background-color: #353333;
  border-color: #353131;
  margin-right: 2px;
}
.btn-black:active,
.btn-black.active,
.open > .dropdown-toggle.btn-black {
  color: #fff;
  background-color: #353333;
  border-color: #353131;
  margin-right: 2px;
}
.btn-black:active:hover,
.btn-black.active:hover,
.open > .dropdown-toggle.btn-black:hover,
.btn-black:active:focus,
.btn-black.active:focus,
.open > .dropdown-toggle.btn-black:focus,
.btn-black:active.focus,
.btn-black.active.focus,
.open > .dropdown-toggle.btn-black.focus {
  color: #fff;
  background-color: #353131;
  border-color: #272424;
}
.btn-black:active,
.btn-black.active,
.open > .dropdown-toggle.btn-black {
  background-image: none;
}
.btn-black.disabled,
.btn-black[disabled],
fieldset[disabled] .btn-black,
.btn-black.disabled:hover,
.btn-black[disabled]:hover,
fieldset[disabled] .btn-black:hover,
.btn-black.disabled:focus,
.btn-black[disabled]:focus,
fieldset[disabled] .btn-black:focus,
.btn-black.disabled.focus,
.btn-black[disabled].focus,
fieldset[disabled] .btn-black.focus,
.btn-black.disabled:active,
.btn-black[disabled]:active,
fieldset[disabled] .btn-black:active,
.btn-black.disabled.active,
.btn-black[disabled].active,
fieldset[disabled] .btn-black.active {
  background-color: #000000;
  border-color: #131313;
}
.btn-black .badge {
  color: #000000;
  background-color: #fff;
}


